*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  /* font family */
  --ff-young-serif: "Young Serif", serif;;
  --ff-Outfit: "Outfit", sans-serif;

  /* font weight */
  --fw-4: 400;
  --fw-6: 600;
  --fw-7: 700;
  
  /* display widths */
  --desktop-width: 1440px;
  --moblie-width: 375px;
  

  /* Colors */
  
  /* Primary */
  --Nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);
  
  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
}

/* general settings */
  body {
    font-family: var(--ff-Outfit);
    color: var(--Wenge-Brown);
    background-color: var(--Eggshell);
  }

  
  main {
    width: 46em;
    background-color: var(--White);
    margin: 7.5em auto;
    padding: 2.5em;
    border-radius: 1.5em;
  }
/**/


/* borders-bottom between section */
  section {
    border-bottom: 1px solid var(--Light-Grey);
    padding-bottom: 1.5em;
  }

  section:last-child, section:first-child {
    border-bottom: none;
  }
/**/


/* Section 1-3 start */
  img {
    display: block;
    width: 100%;
    border-radius: 0.8em;
  }

  #ingredients {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  h1 {
    font-family: var(--ff-young-serif);
    font-size: 2.5em;
    font-weight: var(--fw-4);
    color: var(--Dark-Charcoal);
  }
  
  #ingredients p {
    line-height: 1.5em;
    margin-top: -1em;
  }

  #preparation {
    background-color: var(--Rose-White);
    padding: 1.7em;
    border-radius: 0.8em;
  }

  h2 {
    color: var(--Dark-Raspberry);
    font-size: 1.25em;
    font-weight: var(--fw-6);
    margin-bottom: -0.5em;
  }

  #preparation > ul {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding-left: 0.8em;
    padding-top: 1.5em;
  }

  #preparation > ul > li {
    padding-left: 1.8em;
  }

  #preparation > ul > li::marker {
    font-size: 1.2em;
    content: '•';
  }

  .bold {
    font-weight: var(--fw-6);
  }

  #ingredients-ul {
    margin-left: 0.8em;
    margin-top: -1.3em;
  }
  
  #ingredients-ul > li {
    padding-left: 1.7em;
    line-height: 2em;
  }

  #ingredients-ul > li::marker {
    font-size: 1.2em;
    content: '•';
  }
/* section 1-3 end */



/* Ingredients, Instructions, Nutrition */  
  h3 {
    font-family: var(--ff-young-serif);
    color: var(--Nutmeg);
    font-size: 1.75em;
    font-weight: var(--fw-4);
  } 
/**/



/* section 2-3 start */
  #instructions > h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  #instructions > ol > li::marker {
    color: var(--Nutmeg);
    font-weight: var(--fw-6);
  }

  #instructions > ol {
    margin-left: 1.5em;
  }

  #instructions > ol > li {
    padding-left: 1em;
    line-height: 1.8em;
  }

  #nutrition > h2 {
    margin-top: 1em;
    margin-bottom: 0.7em;
  }

  #nutrition-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 0.7em;
  }

  tr {
    height: 3em;
  }

  th {
    font-weight: var(--fw-4);
    text-align: left;
    padding-left: 2em;
    width: 21em;
  }

  td {
    color: var(--Nutmeg);
    font-weight: var(--fw-6);
  }

  .border-bottom {
    border-bottom: 1px solid var(--Light-Grey);
  }
/* section 2-3 end */

/* footer */
footer {
 position: absolute;
 left: 50%;
 transform: translate(-50%);
}

.attribution a {
/*   text-decoration: none; */
  color: var(--Nutmeg);
}

.attribution a:hover, .attribution a:active {
  color:hsl(332, 51%, 22%);
}



/* mobile */

@media (max-width: 375px) {
  main {
    width: 100%;
    margin: 0;
    padding: unset;
    border-radius: unset;
  }

  section {
    width: 100%;
    padding-inline: 2.1em;
  }

  section:first-child {
    padding-inline: unset;
  }

  img {
    border-radius: unset;
  }

  h1 {
    font-size: 2em;
  }

  footer {
    text-align: center;
  }
}
